#principal{
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid #999999;
	background: #dddddd;
	border-radius: 20px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(center, circle, #ffffff 15%, #006699 200%);
	background: -moz-radial-gradient(top, #ffffff, #006699);
}